:root {
  --primary-text-color: #333333;
  --title-text: #000000;
  --accent-color: #ffffff;
  --card-item: 4;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* <!-- categories --> */

.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.categories-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -32px;
  margin-right: -32px;
}
.card-item {
  margin-top: 32px;
  margin-right: 32px;
  overflow: hidden;

  border: 1px solid #d9d9de;
  border-radius: 6px;
  width: calc(100% / var(--card-item) - 32px);
}

.service-list {
  --card-item: 3;
}

.categories-subtitle {
  padding: 13px 19px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text);
}
.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}
